html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: calc(100vh - 100px);
  margin: 0;
  background: linear-gradient(40deg, #fc466b, #2caf58);
  background-position: 95% 90%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*******************************
* animations
********************************/
.fade {
  transition: opacity 1s;
}

.fade.out {
  opacity: 0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
}

input[type="number"] {
  font-size: 3rem;
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 100px;
  border: none;
  border: 5px solid #46b9fc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.239);
}

button {
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 100px;
  border: none;
  /*border: 5px solid #46b9fc;*/
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.239);
  margin-top: 50px;
  padding: 20px 30px;
  /*border: 5px solid rgb(255, 230, 0) !important;*/
  font-size: 2rem;
  border: 5px solid #fc466b;
}